<% content_for :title do %>About<% end %>
<h3>About Beth Mingledorff</h3>
<p>She was born in Clearwater, Florida, but moved to Grand Rapids, Michigan at the tender age of 3 months. Yada, yada...blah, blah...</p>
<p>Her favorite quotation is:</p>
<p>“I love to see a young girl go out and grab the world by the lapels. Life's a bitch. You've got to go out and kick ass.” ― Maya Angelou</p>